<!DOCTYPE html>
<html>
{% include head.html %}
{% include google_analytics.html %}

<body>
  <nav id="sidebar" class="bg-dark text-white">
    <div class="sidebar-header">
      <a class="navbar-brand">
        <img src="./assets/img/favicon.png" width="40" height="40" alt="Brand">
      </a>
    </div>
    {% for item in site.data.sidebar %}
    <ul class="list-unstyled">
      <li><a href="#{{ item.title }}">{{ item.title }}</a></li>
    </ul>
    {% endfor %}
  </nav>

  <div id="content">
    {% for post in site.posts reversed %}
    <div class="container-fluid" style="background-color: {{ post.background-color }}; padding: 10px 0px 10px 0px;">
      <div class="container" style="color:{{ post.textcolor }};">
        {{ post.content }}
      </div>
    </div>
    {% endfor %}
  </div>

</body>

</html>